.main-container {
  width: 90%;
  background-color: rgb(230, 229, 229);
  margin: auto;
  text-align: center;
}

.header h1 {
  text-decoration: underline;
}

ul li {
  list-style: none;
  font-size: 18px;
}

ul li a {
  text-decoration: none;
}
