body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

/* .main-container #day-1 */

.question {
  width: 60%;
  padding: 10px 12px;
}

.question:nth-child(even) {
  background: #ccc;
}

.question:nth-child(odd) {
  background: rgb(255, 207, 207);
}

.test-cases {
  font-size: 15px;
  font-weight: 100;
  background-color: lightgreen;
  width: 55%;
  line-height: 23px;
  padding: 5px 8px;
  border-radius: 15px;
}
